body{
    background-color: rgb(43, 37, 45);
}
.loginForm {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    }

  .customLabel{
        color: white;
    }

button {
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 300px;
    border: 2px solid rgb(5, 126, 147);
    background: linear-gradient(270deg, #347ad4, #032d39, #05416f);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 34s ease infinite;
    -moz-animation: AnimationName 34s ease infinite;
    -o-animation: AnimationName 34s ease infinite;
    animation: AnimationName 34s ease infinite;
  }
  
  @-webkit-keyframes AnimationName {
    0% {
      background-position: 96% 0%
    }
  
    50% {
      background-position: 5% 100%
    }
  
    100% {
      background-position: 96% 0%
    }
  }
  
  @-moz-keyframes AnimationName {
    0% {
      background-position: 96% 0%
    }
  
    50% {
      background-position: 5% 100%
    }
  
    100% {
      background-position: 96% 0%
    }
  }
  
  @-o-keyframes AnimationName {
    0% {
      background-position: 96% 0%
    }
  
    50% {
      background-position: 5% 100%
    }
  
    100% {
      background-position: 96% 0%
    }
  }
  
  @keyframes AnimationName {
    0% {
      background-position: 96% 0%
    }
  
    50% {
      background-position: 5% 100%
    }
  
    100% {
      background-position: 96% 0%
    }
  }
